<aside class="sidebar">

  <div class="sidebar-container">
    <div class="sidebar-logo">
      <a href="{{ site.url }}{{site.baseurl}}/" class="logo">{% if site.name %}{{site.name}}{% else %}Fresh{% endif %}</a>
    </div>

    <menu class="sidebar-menu">
      {% for item in site.data.menu %}
      <li class="menu-items"><a class="menu-links" href="{{ site.url }}{{site.baseurl}}{{ item.link }}">{{ item.name }}</a></li>
      {% endfor %}
    </menu>

    <div class="sidebar-social">
      {% for item in site.data.social %}
        <li class="social-items"><a href="{{ item.link }}" class="social-links"><i class="{{ item.icon }}" aria-hidden="true"></i></a></li>
      {% endfor %}
    </div>

  </div>
</aside>
